<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/chat.css">
    <title>Michi Chat</title>
</head>
<body>
    <header>
        <h1>Michi Chat</h1>
    </header>
    <main>

        <div id="all-messages">
            <!-- <div class="message">
                <div class="image-container">
                    <img src="/images/michi.jpeg">
                </div>
                <div class="message-body">
                    <div class="user-info">
                        <span class="username">didi_bu</span>
                        <span class="time">hace 1 seg</span>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum natus aperiam animi neque facilis excepturi et, exercitationem laboriosam, iure voluptatem quaerat molestiae, officiis temporibus doloribus at ratione. Tempore, exercitationem ex.</p>
                </div>
            </div> -->
        </div>

        <div class="send-message">
            <input type="text" id="message">
            <button type="button" id="send-message" class="btn secondary">Enviar</button>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>
</html>